<ion-view view-title="{{navTitle}}" cache-view="false">
  <ion-content>

  
	<div align="center">


	  <div id="wrapper">
		  <div id="phone">
			<div id="numberDisplay">
			  {{fields.phone}}
			</div>
			<div id="dialpad" class="button-3">
			  <ul>
				<li class="first" ng-click="dial(1)">1</li>
				<li ng-click="dial(2)">2</li>
				<li class="last" ng-click="dial(3)">3</li>
				<li class="first" ng-click="dial(4)">4</li>
				<li ng-click="dial(5)">5</li>
				<li class="last" ng-click="dial(6)">6</li>
				<li class="first" ng-click="dial(7)">7</li>
				<li ng-click="dial(8)">8</li>
				<li class="last" ng-click="dial(9)">9</li>
			  </ul>
			</div>
			<div id="actions" class="button-3 deactive">
			  <ul>
				<li  class="call">חיוג</li>
				<li  class="clear" ng-click="deleteBtn()">מחיקה</li>
				<li  class="skip" ng-click="selectContact()">בחירת איש קשר</li>
				
			  </ul>
			</div>
		  </div>
		</div>


	
	
	</div>

	  
  </ion-content>
</ion-view>
