<ion-view hide-back-button="true" view-title="{{navTitle}}" cache-view="false">
  
  <ion-nav-buttons side="right" >
        <div class="item-icon-left"  style="text-decoration:none;"   ng-click="goSettings()">
            <img src="img/settings.png"  style="width:30px; margin-top:2px; margin-right:7px;" />
  		</div>
  </ion-nav-buttons> 
	
  


  
  <ion-content style="background-color:#e9e9e9">
	
	<!--  -->
    <div style="width:100%;padding:20px; position:absolute" ng-show="showNotification">
      <div id="notifications" align="center" style="direction:rtl; height:40px; margin-top:10px; width:80%; left:10%; background-color:white; position:absolute; z-index:100" >
        <p>{{pushText}} <img src="{{pushImage}}" style="width:40px; height:40px;"></p>
      </div>
   </div>
  
	<div align="center" style="direction:rtl; z-index:1">
	<img src="{{host}}/{{showMatches.image}}"  imageonload ng-click="showInfo(showMatches.index)" style="width:100%; min-height:400px; z-index:-1; position:relative;">
	
    <div class="MainStripCenter">
       <img src="img/dis_icon.png"  style="width:100%; margin-top:-202px; margin-right:7px;" />
    </div>
        
    <div class="MainStrip">
     	<div class="MainStripLeft" align="center">
        	<div>
				<p>{{showMatches.index}}</p>
                <p class="nameText">{{showMatches.name}}</p>
                <div style="width:30%; float:left; margin-left:10px">
                    <img ng-src="{{showMatches.sex |checkGender:true}}"   style="width:100%; margin-right:7px; margin-top:4px;" />
                </div>
            </div>
             <div style="width:100%; float:left;" ng-if="showMatches.showlocation == 1">
                <p class="nameSmallText" style="float:left; margin-top:-15px; margin-left:5px; padding-left:0px; direction:ltr;">{{showMatches.distance}}Km</p>
            </div>
        </div>
        <div class="MainStripRight">
        	<div style="width:100%; float:left;">
                <div style="width:17%; float:right; margin-left:-5px">
                    <img src="img/small_heart.png"  style="width:100%; margin-right:13px; margin-top:4px;" />
                </div>
                <p class="nameSmallText" style="margin-right:-4px">{{showMatches.followers}}</p>
            </div>
            <div style="width:100%; float:left; margin-top:-5px;">
                <div style="width:17%; float:right; margin-left:-10px; ">
                    <img src="img/friends.png"  style="width:100%; margin-right:13px; margin-top:4px;" />
                </div>
                <p class="nameSmallText">{{showMatches.friends}}</p>
            </div>
        </div>
     </div> 
	<!--<div>{{showMatches.name}} {{showMatches.index}}</div>
	<div>עוקבים : {{showMatches.followers}}</div>
	<div>חברים: {{showMatches.friends}}</div>
	<div>מין : {{getUserSex(showMatches.sex)}}</div>
	<div>מרחק : </div> -->
	
	<div style="margin-top:30px;">
    	<img src="img/heart.png" ng-click="heartBtn(1,showMatches.index)" style="width:30%; margin-left:30px;">
		<img src="img/broken.png" ng-click="heartBtn(0,showMatches.index)"  style="width:30%;">	
	</div>
	
	
	</div>

	  
  </ion-content>
</ion-view>
