<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" style="direction:rtl;">אימות קוד SMS</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSmsModal()">סגירה</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label" >קוד SMS:</span>
          <input type="tel" ng-model="fields.smscode" style="direction:rtl;" placeholder="הזן את הקוד שנשלח אליך ב SMS">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="confirmCode()">שליחה</button>

        </label>
		
		<label class="item">
			<button class="button button-block button-calm" ng-click="resendCode()" >שלח קוד שוב</button>
		</label>	
		
      </div>
  </ion-content>
</ion-modal-view>
