<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">פרופיל</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">סגירה</button>
    </div>
	
  <div class="buttons" ng-click="reportUser()">
      <button class="button icon ion-flag"></button>
  </div>	
  </ion-header-bar>
  <ion-content>

  <img src="{{host}}/{{profile.image}}" style="width:100%;">
  
  
  <div style="text-align:right; direction:rtl;">
  <p>נראה לאחרונה  : {{profile.lastlogin | lastseenDate}}</p>
  <p>עוקבים  : {{profile.followers}}</p>
  <p>מין : {{getUserSex(profile.sex)}}</p>
  <p>מעמד כלכלי : {{getUserMoney(profile.money)}}</p>
  <p>מרחק : </p>
  
  
	<button class="button button-full button-positive" ng-click="likeUser(profile.index)">
	  עקוב
	</button>
  
  </div>
  
  
  </ion-content>
</ion-modal-view>
