<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>



  <!--  <ion-list>

        <ion-item menu-close href="#/app/matches/0" ng-if="userid">
          ראשי
        </ion-item>
		
		
	  
        <ion-item menu-close href="#/app/followers" ng-if="userid">
          עוקבים
        </ion-item>

		<ion-item menu-close href="#/app/friends" ng-if="userid">
          חברים
        </ion-item>

		<ion-item menu-close href="#/app/blocked" ng-if="userid">
          חסומים
        </ion-item>

		<ion-item menu-close href="#/app/dailer" ng-if="userid">
          חייגן
        </ion-item>
		
		<ion-item menu-close href="#/app/contact" >
          צור קשר
        </ion-item>
		
        <ion-item menu-close ng-click="logOut()" ng-if="userid">
          התנתקות
        </ion-item>

      </ion-list> -->
      
      
      
  <ion-side-menu side="left" >
    <ion-header-bar class="bar-stable">
      <h1 class="title">תפריט</h1>
    </ion-header-bar>
    <ion-content style="background-color:#404040; margin:0 auto; ">
    	<div align="right">
    	<div style="width:100%; margin-top:20px; text-align:right !important;" align="right">
        	<a href="#/app/matches/-1"  menu-close ng-if="userid">
                <div class="menuButtonDiv">
                    <div class="menuButtonIcon" >
                        <img src="img/icons/001.png" style="width:100%" />
                    </div>
                    <div class="menuButtonText">
                        ראשי
                    </div>
                </div>
                <div style="width:100%;">
                        <img src="img/icons/line.png" style="width:100%" />
                </div>
             </a>
        </div>
        
        <div style="width:100%; text-align:right !important; " align="right"  >
        	<a href="#/app/followers" menu-close ng-if="userid">
                <div class="menuButtonDiv">
				
                    <div class="menuButtonIcon">
                        <img src="img/icons/1.png" style="width:100%" />
                    </div>
					
                    <div class="menuButtonText" style=" width:30%;" >
                        עוקבים					
                    </div>
                    <div class="menuButtonText" style=" width:40%">
						<span class="badge badge-assertive" ng-if="FollowersCount > 0" style="">{{FollowersCount}}</span>
                    </div>	
                </div>

					
                <div style="width:100%;">
                        <img src="img/icons/line.png" style="width:100%" />
                </div>
				
            </a>
        </div>
        
         <div style="width:100%; text-align:right !important;" align="right" href="#/app/friends" ng-if="userid">
         	<a href="#/app/friends" menu-close ng-if="userid">
                <div class="menuButtonDiv">
                    <div class="menuButtonIcon">
                        <img src="img/icons/2.png" style="width:100%" />
                    </div>
                    <div class="menuButtonText" style=" width:30%;" >
                        חברים			
                    </div>
                    <div class="menuButtonText" style=" width:40%">
						<span class="badge badge-assertive" ng-if="FriendsCount > 0"  style="">{{FriendsCount}}</span>
                    </div>	
                </div>
                <div style="width:100%;">
                        <img src="img/icons/line.png" style="width:100%" />
                </div>
            </a>
        </div>
        
         <div style="width:100%; text-align:right !important;" align="right" href="#/app/blocked" ng-if="userid">
         	<a href="#/app/blocked" menu-close ng-if="userid">
                <div class="menuButtonDiv">
                    <div class="menuButtonIcon">
                        <img src="img/icons/3.png" style="width:100%" />
                    </div>
                    <div class="menuButtonText" style=" width:30%;" >
                        חסומים					
                    </div>
                    <div class="menuButtonText" style=" width:40%">
						<span class="badge badge-assertive" ng-if="BlockedCount > 0" style="">{{BlockedCount}}</span>
                    </div>	
                </div>
                <div style="width:100%;">
                        <img src="img/icons/line.png" style="width:100%" />
                </div>
           </a>
        </div>

		<!--
         <div style="width:100%; text-align:right !important;" align="right"  ng-if="userid">
         	<a href="#/app/messages" menu-close ng-if="userid">
                <div class="menuButtonDiv">
                    <div class="menuButtonIcon">
                        <img src="img/icons/6.png" style="width:100%" />
                    </div>
                    <div class="menuButtonText">
                        הודעות
                    </div>
                </div>
                <div style="width:100%;">
                        <img src="img/icons/line.png" style="width:100%" />
                </div>
           </a>
        </div>
		-->
        
         <div style="width:100%; text-align:right !important;" align="right" ng-if="userid">
         	
                <div class="menuButtonDiv">
                    <div class="menuButtonIcon">
                        <img src="img/icons/4.png" style="width:100%" />
                    </div>
                    <div class="menuButtonText">
                        מבוקשים
                    </div>
                </div>
                <div style="width:100%;">
                        <img src="img/icons/line.png" style="width:100%" />
                </div>
           
        </div>
        
         <div style="width:100%; text-align:right !important;" align="right" href="#/app/dailer" ng-if="userid">
        	 <a href="#/app/dailer" menu-close ng-if="userid">
                <div class="menuButtonDiv">
                    <div class="menuButtonIcon">
                        <img src="img/icons/5.png" style="width:100%" />
                    </div>
                    <div class="menuButtonText">
                        חייגן
                    </div>
                </div>
                <div style="width:100%;">
                        <img src="img/icons/line.png" style="width:100%" />
                </div>
           </a>
        </div>

         <div style="width:100%; text-align:right !important;" align="right" href="#/app/payoptions" ng-if="showPaymentOptions">
        	 <a href="#/app/payoptions" menu-close ng-if="userid">
                <div class="menuButtonDiv">
                    <div class="menuButtonIcon">
                        <img src="img/icons/4.png" style="width:100%" />
                    </div>
                    <div class="menuButtonText">
                        רכישת מנוי
                    </div>
                </div>
                <div style="width:100%;">
                        <img src="img/icons/line.png" style="width:100%" />
                </div>
           </a>
        </div>
		
		
		

        
         <div style="width:100%; text-align:right !important;" align="right" >
         	<a href="#/app/contact" menu-close ng-if="userid">
                <div class="menuButtonDiv">
                    <div class="menuButtonIcon">
                        <img src="img/icons/6.png" style="width:100%" />
                    </div>
                    <div class="menuButtonText">
                        צור קשר
                    </div>
                </div>
                <div style="width:100%;">
                        <img src="img/icons/line.png" style="width:100%" />
                </div>
           </a>
        </div>
        
         <div style="width:100%; text-align:right !important;" align="right" >
         	<a ng-click="logOut()" menu-close ng-if="userid">
                <div class="menuButtonDiv">
                    <div class="menuButtonIcon">
                        <img src="img/icons/7.png" style="width:100%" />
                    </div>
                    <div class="menuButtonText">
                        התנתקות
                    </div>
                </div>
                <div style="width:100%;">
                        <img src="img/icons/line.png" style="width:100%" />
                </div>
            </a>
        </div>
       
	</div>
    </ion-content>
  </ion-side-menu>
  
  <ion-side-menu side="right" ng-controller="SettingsCtrl" ng-if="currentController == 'app.matches'">
    <ion-header-bar class="bar-stable">
      <h1 class="title">הגדרות</h1>
    </ion-header-bar>
    <ion-content style="background-color:#404040" >
    	<div style="width:100%" align="right" >
        	<div class="menuButtonDiv">
            	<div class="menuCircleImage">
                	<img ng-src="{{profilepicture}}" style="width:100%;">
                </div>
                <div class="menuNameText">
                	שלום,
                    <p style="font-size:16px; margin-top:1px;"> {{username}}</p>
                </div>
            </div>
          
        </div>
        
        <!-- <div>
				<img ng-src="{{profilepicture}}" style="width:100%;">
		</div>-->
            
    	<div style="width:100%; margin-top:13px;" align="center">
        	<div ng-click="takePicture(1)" style="width:40%; float:left; margin-left:20px; margin-top:5px;" align="center">
            	<img src="img/settings/picture.png" style="width:100%;"  />
            </div>
            <div ng-click="takePicture(0)" style="width:40%; float:right; margin-right:20px;" align="center">
            	<img src="img/settings/gallery.png" style="width:100%;"  />
            </div>
        </div>
        
        <div style="width:100%; margin-top:43px;" align="right">
            <div style="width:18%; margin-top:20px; margin-right:4px;">
                <img src="img/settings/me.png" style="width:100%;"  />
            </div>
        </div>
        
        <div style="width:100%; margin-top:0px; margin-right:30px;" align="center">
        	<div  style="width:25%; float:right; margin-right:30px;" align="center" ng-click="changeGender(1)">
            	<img src="{{selectedMale}}" style="width:100%;"  />
            </div>
            <div  style="width:25%; float:right; margin-right:20px;" align="center" ng-click="changeGender(2)">
            	<img src="{{selectedFemale}}" style="width:100%;"  />
            </div>
        </div>
        
        <div style="width:100%; margin-top:70px;" align="right">
            <div style="width:50%; margin-top:20px; margin-right:10px;">
                <img src="img/settings/want.png" style="width:100%;"  />
            </div>
        </div>
        
        <div style="width:100%; margin-top:0px; margin-right:30px;" align="center">
        	<div  style="width:25%; float:right; margin-right:30px;" align="center" ng-click="changeFavorite(1)">
            	<img src="{{favoriteMale}}" style="width:100%;"  />
            </div>
            <div  style="width:25%; float:right; margin-right:20px;" align="center" ng-click="changeFavorite(2)">
            	<img src="{{favoriteFemale}}" style="width:100%;"  />
            </div>
        </div>
        
         <div style="width:100%; margin-top:83px;" align="right">
            <div style="width:43%; margin-top:20px; margin-right:10px;">
                <img src="img/settings/distance.png" style="width:100%;"  />
            </div>
        </div>
        <!-- 
		<div class="list">


			

			
		  <label class="item item-input item-select">
			<div class="input-label">
			  אני
			</div>
			<select ng-model="fields.sex">
			  <option value="0">מין</option>
			  <option value="1">זכר</option>
			  <option value="2">נקבה</option>
			</select>
		  </label>
		  <label class="item item-input item-select">
			<div class="input-label">
			  אשמח להכיר
			</div>
			<select ng-model="fields.favorite">
			  <option value="0">אשמח להכיר</option>
			  <option value="1">זכר</option>
			  <option value="2">נקבה</option>
			</select>
		  </label>
		  <label class="item item-input item-select">
			<div class="input-label">
			  מעמד כלכלי
			</div>
			<select ng-model="fields.money">
			  <option value="0">מעמד כלכלי</option>
			  <option value="1">חלש</option>
			  <option value="2">בינוני</option>
			  <option value="3">חזק</option>	  
			</select>
		  </label>	

		<ion-list>

		  <ion-checkbox ng-model="fields.calls">שיחות</ion-checkbox>
		  <ion-checkbox ng-model="fields.notifications">התראות</ion-checkbox>

		</ion-list> 

		  
		</div>

		<div class="padding">
				<button class="button button-block button-positive" ng-click="saveBtn()">שמירה</button>
		</div>-->

    </ion-content>
  </ion-side-menu>

  
</ion-side-menus>
