<ion-list >
  <ion-radio ng-model="reportFields.choice" ng-value="'1'" >תוכן לא ראוי</ion-radio>
  <ion-radio ng-model="reportFields.choice" ng-value="'2'">תוכן פוגעני</ion-radio>
  <ion-radio ng-model="reportFields.choice" ng-value="'3'">מטרידן</ion-radio>
  <ion-radio ng-model="reportFields.choice" ng-value="'4'">אחר</ion-radio>

</ion-list>

<div class="list" >

  <label class="item item-input">
    <textarea placeholder="טקסט חופשי" style="direction:rtl;" ng-model="reportFields.text"></textarea>
  </label>
</div>